.idea
.git
src/Bot/guilded_servers
src/Bot/revolt.log
src/Bot/revolt_servers
src/Bot/config.py
.github
LICENSE
tokens.json
src/endpoints
beta
Copy of endpoints
src/beta_users.py
TMP
__pycache__
endpoints*
tokens*
src/tokens.json
