.idea
.git
*.log
.github
LICENSE
tokens.json
*endpoints*
beta
Copy of endpoints
beta_users.py
TMP
__pycache__
endpoints*
src/_astroidapi.log
/website
/web
website.zip
src/astroidapi.zip
src/astroidapi/beta_config.py
src/Bot/config.py
src/Bot/nerimity_servers/1528027692992208896.json
src/tokens.json
assets/517057624072519680.png
src/astroidapi/test.py
/src/astroidapi/TMP_attachments
/src/healtcheck_summaries
src/astroidapi/test.py
src/runtest.py
src/astroidapi/upd_surrealdb_handler.py
/src/Bot/atomicradio
